<div class="row">
  <div class="col-md-9">
    <div>
      <h3>{{(memberToDisplay | async)?.name}}</h3>
      <img src= "{{(memberToDisplay | async)?.image}}" class="project-image"/>
      <h4>{{(memberToDisplay | async)?.country}} / {{(memberToDisplay | async)?.yearsActive}}</h4>
      <div class="chip">{{(memberToDisplay | async)?.genre}}</div>
      <br><br>
      <p>Music Awards: {{(memberToDisplay | async)?.awards}}</p>
      <p>{{(memberToDisplay | async)?.details}}</p>
    </div>
  </div>
</div>
