<button (click)="editClicked()" class="btn waves-effect waves-light" >Edit</button>

<div class="editModule" *ngIf="editFormShow">
  <div class="row">
    <div class=" formDiv">
      <h1>Edit Project</h1>
      <h3>All fields are required</h3>
    </div>
  </div>
    <div class="row">
      <div class="input-field col s12">
        <select class="showSelect" [(ngModel)]="selectedMember.genre">
          <option value="" disabled selected>Select Genre</option>
          <option value="social justice">Classical</option>
          <option value="medical">Jazz</option>
          <option value="entertainment">Pop</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" [(ngModel)]="selectedMember.name">
        <label>Name</label>
      </div>
      <div class="input-field col s6">
        <input type="text" [(ngModel)]="selectedMember.awards">
        <label>Awards</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2">
        <input type="text" [(ngModel)]="selectedMember.yearsActive">
        <label>Years Active</label>
      </div>
      <div class="input-field col s2">
        <input type="text" [(ngModel)]="selectedMember.country">
        <label>Country of Origin</label>
      </div>
      <div class="input-field col s4">
        <input type="text" [(ngModel)]="selectedMember.video">
        <label>Video Embed Link</label>
      </div>
      <div class="input-field col s4">
        <input type="text" [(ngModel)]="selectedMember.image">
        <label>Image Url</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" [(ngModel)]="selectedMember.details">
          <label>Artist Description</label>
        </div>
      </div>
    <button class="submitForm btn waves-effect waves-light" (click)="beginUpdatingMember(selectedMember)">Submit</button>
    <button class="submitForm btn waves-effect waves-light" (click)="editCancel()">Cancel</button>
</div>
