<div class="row">
  <div class="input-field col s12">
    <select (change)="onChange($event.target.value)">
      <option value="" disabled selected>Select Genre</option>
      <option value="Classical">Classical</option>
      <option value="Jazz">Jazz</option>
      <option value="Pop">Pop</option>
    </select>
  </div>
</div>


<div class="row">
  <div class="col s4" *ngFor="let member of members | async | genre:filterByGenre">
    <div class="card">
      <div class="card-image hover" (click)="goToDetailPage(member)">
        <img src={{member.image}} class="cardImageStyle">
      </div>
      <div class="card-content">
        <span class="card-title">{{member.name}}</span>
        <h5>{{member.country}} / {{member.yearsActive}}</h5>
        <p>{{member.description}}</p>
      </div>
      <div class="card-action">
        <div class="editContainer" *ngIf="currentRoute === '/admin'">
          <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
        <br>
        <a class="hover" (click)="goToDetailPage(member)">View Member Details</a>
      </div>
    </div>
  </div>
</div>
