<div class="">
  <h1></h1>
</div>


<div class="row">
  <div class="col s4" *ngFor="let member of members | async">
    <div class="card">
      <div class="card-image hover" (click)="goToDetailPage(member)">
        <img src={{member.image}} class="cardImageStyle">
      </div>
      <div class="card-content">
        <span class="card-title">{{member.name}}</span>
        <h5>{{member.country}} / {{member.yearsActive}}</h5>
        <p>{{member.description}}</p>
      </div>
      <div class="card-action">
        <div class="editContainer" *ngIf="currentRoute === '/admin'">
          <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
        <a class="hover" (click)="goToDetailPage(member)">View Member Details</a>
      </div>
    </div>
  </div>
</div>
